<style>
 form {
 width: 450px;
 margin: auto;
 background: rgba(0, 0, 0, 0.4);
 padding: 10px 20px;
 box-sizing: border-box;
 margin-top: 20px;
 border-radius: 7px;

 }

textarea{
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
  min-width: 100%;
}

.msjError {
  color: red;
}
.cajaError{
  text-align: center;
  margin: 5em;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1em;
  padding-bottom: 1em;
}

.cajaResultados{
  text-align: center;
  border-radius: 1em;
  padding-bottom: 1em;
}

button{
  border: none;
  background: rgba(0,255,157,1);
  background: -moz-linear-gradient(left, rgba(0,255,157,1) 0%, rgba(0,245,229,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,255,157,1)), color-stop(100%, rgba(0,245,229,1)));
  background: -webkit-linear-gradient(left, rgba(0,255,157,1) 0%, rgba(0,245,229,1) 100%);
  background: -o-linear-gradient(left, rgba(0,255,157,1) 0%, rgba(0,245,229,1) 100%);
  background: -ms-linear-gradient(left, rgba(0,255,157,1) 0%, rgba(0,245,229,1) 100%);
  background: linear-gradient(to right, rgba(0,255,157,1) 0%, rgba(0,245,229,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff9d', endColorstr='#00f5e5', GradientType=1 );
  height: 4em;
  width: 100%;
  color: #000;
  font-size: 1em;
  font-family: 'Heebo', sans-serif;
}
button:hover{
  cursor: pointer;
}
 input,textarea {
 width: 100%;
 margin-bottom: 20px;
 padding: 7px;
 box-sizing: border-box;
 font-size: 17px;
 }
 table {
   margin-top: 4em;
   font-size: 2em;
   border-collapse: collapse;
   border: 1px solid black;
 }
 tr, td, th {
   border-spacing: 2em;
   border-collapse: collapse;
   text-align: center;
   border: 1px solid black;
 }
 .titulo{
   font-family: 'Muli', sans-serif;
   font-size: 1.5em;
 }


</style>
<link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Heebo&display=swap" rel="stylesheet">
<center><label class="titulo">Escriba su consulta aqui</label></center>
<form class="" action="/" method="post">
  <textarea autofocus name="query" rows="8" cols="80" placeholder="Select ... From ..."></textarea>
  <center><button type="submit" name="button" onclick=boton()>Consultar</button></center>
</form>


{{#if error}}
<div class="cajaError">
<h1 class="msjError">ERROR</h1>
<code><h2>{{ error }}</h2></code>
<img src="serverError.png">
</div>
{{/if}}

{{#if resultados}}
<div class="cajaResultados">

<h2>Resultados</h2>
<code>{{ resultados }}</code>

<h2>Columnas</h2>
<code>{{ columnas }}</code>
</div>
{{/if}}
